{% extends "base.html" %}

{% block content %}
  <h1>
    Product List
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form }}
    <input type="submit" value="🔍">
  </form>

  <br>

  {% if product_list %}
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Order</th>
      </tr>

      {% for product in product_list %}
        <tr>
          <td>
              {{ product.id }}
          </td>
          <td>
              {{ product.name }}
          </td>
          <td>
              {{ product.category }}
          </td>
          <td>
              {{ product.price }}
          </td>
          <td>
              <a style="color: dodgerblue"
                href="{% url 'shop:order-create' pk=product.id %}">
                Order
              </a>
          </td>
          <td>
              <a style="color: blue"
                href="{% url 'shop:order-with-jquery' pk=product.id %}">
                Order with jQuery
              </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no products.</p>
  {% endif %}
{% endblock %}
